<li>
  <span class="content"><h4><%= entry.title %></h4></span>
  <span class="content"><%= entry.body %></span>
  <span class="timestamp">
    <i><%= link_to "Comment",comments_entry_path(entry) %></i>
    | Posted <%= time_ago_in_words(entry.created_at) %> ago.|
  </span>
  <% if current_user?(entry.user) %>
    <%= link_to "delete", entry, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: entry.title %>
  <% end %>
</li>