<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <% if current_user?(@user) %>
        <%= link_to "edit user's information", edit_user_path(current_user) %>
      <% end %>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <%= render 'follow_form' if signed_in? %>
    <% if @user.entries.any? %>
      <h2>Entries (<%= @user.entries.count %>)</h2>
      <ol class="entries">
        <%= render @entries %>
      </ol>
      <%= will_paginate @entries %>
    <% end %>
  </div>
</div>